<label>Server Name</label>
<!-- One-way-Binding
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
Two-Way-Binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreate()">Add Server</button>
<!-- <p>{{allowNewServer}}</p> -->
<!-- <p [innerText] ="allowNewServer"></p> -->
<!-- Using *ngIf Directive -->
<!-- <p *ngIf="serverCreated">Server was Created. Server Name was {{serverName}}</p> -->
<!-- Using *ngIf And Else Directive -->
<p *ngIf="serverCreated; else noServer">Server was Created. Server Name was {{serverName}}</p> 
<ng-template #noServer>
  <p>No Server Created</p>
</ng-template>
<!-- <app-server></app-server> -->
