<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h3>I'm AppComponent</h3>
        <!-- Different ways to use selector -->
        <!--1. selecting the component by using selector as an element (see the  selector property of the decorator)-->
        <app-servers></app-servers>
         <!--2. selecting the component by using selector as an attribute of html (see the  selector property of the decorator)-->
         <!-- <div app-servers></div> -->
         <!-- selecting the component by using selector as an element (see the  selector property of the decorator)-->
        <!-- <div class="app-servers"></div> -->
    </div>
  </div>
</div>